.home {
    height: 100vh;
    background: url(../images/bg.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;  
}
.content {
    padding-top: 25vh;
    width: 100%;
    text-align: center;
}
.content h1{
    font-size: 7em;
    font-family: 'Lato', sans-serif;
}
.download {
    margin-top: 25px;
}
.download a{
    padding: 10px 20px;
    color: black;
    border: 2px solid black;
    outline: 1px solid black;
    outline-offset: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(256, 256, 255, .8);  
    
}
.download a:hover {
    background: black;
    color: white;
    transition: 0.5s;
}
@media screen and (max-width: 1170px){
    .content h1{
        font-size: 5em;
    }
}
@media screen and (max-width: 414px){
    .content h1{
        font-size: 50px;
    }
}
